# Ignore everything
*

# But do not ignore specific files or directories
!.gitignore
!README.md
!code/stats_test.py
!code/survey_result.csv
!requirement.txt
!code/fig1.png
!img/
!code/
!code/correlation.py
!code/df_Q1.csv
!code/df_Q2.csv
!Appendix.pdf
